
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(img/bleu1.jpg);
    height: auto;
    width: 100%;
}
#welkom{   
    padding-top: 100px;
    text-align: center;
    float: bottom   
}
/*                              Style the header */
.header {
    opacity: 0.9;
    background-color: #A3CEF0;    
    padding: 15px;
    text-align: center;
    height:110px;
}
#head{
    color: #030F29;
}
#pen{
    padding-right: 20px;
    float: right;
    height: 32%;
    width: 32%;
}
/*                              NavBAr */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D2144;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #1D3E71;
}
.active {
    background-color: #FFCC48;
}
#spaceline{
    height: 20px;   
}
/*                              text formatting */
h1 {
    color: white;
    font-size: 40px;
    margin: auto;
}
h2 {
    color: white;
}
.test{
    padding-left: 10px;
    color: red;
}
#index{
    width: 1580px;
}
.column {
    float: left;
}
/*                              Left mid and right column */
.column.left {
    opacity: 0.8;
    background-color: #ffffcc;
    width: 23%;
    height: 585px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
}
/*                              Middle column */
.column.middle {
    opacity: 0.7;
    background-color: #ffffcc;
    width: 53%;
    height: 585px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
}
/*                              right column */
.column.right {
    opacity: 0.8;
    background-color: #ffffcc;
    width: 22%;
    height: 585px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid #0D2144;
}
/*                              input */
/*input{
    background-color : #58AFCB; 
    height: 20%;
    width: 100%;    
    border-radius: 10px; 
    padding: 5px;
    word-wrap: break-word;
}*/
#searchsubject{
    background-color : #58AFCB; 
    height: 5%;
    width: 90%;    
    border-radius: 10px; 
    padding: 5px;
    color: white;
    font-size: 20px;    
}
#inputnote{
    height: 82%;
    width: 100%;    
    border-radius: 10px;
    margin-top: 10px;    
}
/*                              searchbox */
.searchResult{
    height: 100%;
    width: 100%;      
}
#selectArea{
    margin-top: 20px;
    background-color : #D3D6BE; 
    height: 77%;
    width: 100%;    
    border-radius: 10px; 
    padding: 5px;
    word-wrap: break-word;
}    
div.radiobutton{
    height: 20px;
    margin-bottom: 10px;
}
#radiobuttonNote{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
   }
label{
    font-style: bolt;
    margin-top: 7px;
}
#searchResult{
    font-size: 15px;
}
/*                              displaybox  */
textarea{
    background-color : #58AFCB; 
    height: 20%;
    width: 100%;    
    border-radius: 10px; 
    padding: 5px;
    word-wrap: break-word;
}
#displaybox{
    padding-top: 100 px;
}
#inputsubject{
    font-size: 30px;
    font-weight: bold;
}
#inputnote{
    height: 454px;
    font-size: 18px;
}
/*                              generalbox left */
.genLeft{
    padding: 5px;
    float: left;
    height: 80%;
    width: 90%;
}
#selectbox{
    padding: 20px;
    border-radius: 10px;
    background-color: #D3D6BE;
    height: 545px;
    border-right: solid;
    border-color:#3F809A;
    word-wrap: break-word;
}
.li{
    float: none;
}
/*                              generalbox right */
.genRightUp{
  background-color: #CCE1F1;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  float:right;
  width: 5%;
}
.genRightDn{
  background-color: #CCE1F1;
  border-radius: 10px;
  margin-top: 70px;  
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  float:right;
  width: 5%;
}




.myselect{
                color: orange;
                border-color: bleu;
                background-color: lightblue;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-top: 5px;
                padding-right: 10px;
                border-radius: 10px;
                border-style: none;
                border-width: 5px;
                max-height: 300px;
                width: 100%;
                
}

#selectArea{
                color: orange;
                border-color: bleu;
                background-color: lightblue;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-top: 5px;
                padding-right: 10px;
                border-radius: 10px;
                border-style: none;
                border-width: 5px;
                max-height: 300px;
                width: 100%;
                
}